### Lokalhost URL rewrite ###
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteRule ^update/holarse/$ index.php?update=holarse
RewriteRule ^update/steamdb/$ index.php?update=steamdb
RewriteRule ^nicht-vorhanden/$ index.php?filter=f0
RewriteRule ^vorhanden/$ index.php?filter=f1

RewriteCond %{SERVER_PORT}s ^(443(s)|[0-9]+s)$
RewriteRule ^(.*)$ - [env=prot:%2]

RewriteCond %{REQUEST_URI} ^/[^\.]+[^/]$
RewriteRule ^(.*)$ http%{ENV:prot}://%{HTTP_HOST}%{REQUEST_URI}/ [R=301,L]
</IfModule>